# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
.env
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


_local/
_project/_local
_project/React+Redux+Router+SSR.html
_project/React+Redux+Router+SSR_files/
.cursor/